<html>
	<head>
		<title>Cotizador 3M&#174;</title>
		<META http-equiv="Pragma" content="no-cache"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<h2 style="margin: 0 auto;"> Productos en la Base de Datos: <%=desplegar%> </h2>
		<br/>
		<center>
			
			<form method="post" action="/contacto/add"><!--primer parte //DATOS DE CLIENTE//-->
				<fieldset>
					<legend>Primer paso: INGRESA A TU CLIENTE</legend>
					
						<input type="text" placeholder="&nbsp;Nombre de contacto" size="35" name="contacto_nombre">&ensp;
						<input type="text" placeholder="&nbsp;Empresa" size="50" name="contacto_empresa">&ensp;
						<input type="text" placeholder="&nbsp;Tel&eacute;fono" name="contacto_tel">&ensp;
						<input type="email" placeholder="&nbsp;E-Mail" name="contacto_mail">
						<br/>
						<input type="submit" value="Ingresar datos">
						<div>
						<% if (nombre != null) { %>
							<p> Cliente: <%=nombre%>, Empresa: <%=empresa%>, Teléfono: <%=telefono%>, Mail: <%=mail%> </p>
						<% } %>
						</div>
					
				</fieldset>
			</form><!--Terminan datos de cliente-->
			
		
			
			<!--segunda parte //BUSCADOR-->
				<fieldset>
					<legend>
						Segundo paso: BUSCA EL PRODUCTO Y AGREGALO A LA COTIZACI&Oacute;N CUANDO TERMINES
					</legend>
					

					<form method="post" action="/busqueda/add" id="form1">	
						<input type="text" placeholder="&nbsp;Stock" size="25" name="stock">&ensp;
						<input type="text" placeholder="Palabra Clave: modelo, upc, código o descripción" size="50" name="desc">
						<br/>
					</form>	
					
					<button type="submit" form="form1">Buscar</button><br/>
					<button type="submit" form="form1">Agregar todo</button>
					
						<div id="cotiza">
							<p>Búsqueda</p>
							<% if(productos != []) { %>
								<ul>
								<% productos.forEach(function(producto){ %>
									<form method="post" action="/carrito/add">
									<button name="agregar" type="submit" value="<%=producto.id_db%>">
										<dt><%=producto.nombre%></dt>
										<dd>- Stock: <%=producto.stock%></dd>
										<dd>- Modelo: <%=producto.modelo%></dd>
									<br/>
									</button>
									</form>	
								<%}) %>
								</ul>
							<%} %>				
						</div>
					
						<br/>
					
						<div id="cotiza">
						<p>Productos Agregados a Cotización</p>
							
						<% prod_agregados.forEach(function(producto2){ %>
						<br/>
							<div class="caja">
								<form method="post" action="/eliminacion/add">
									<dt><%=producto2.nombre%></dt>
									<dd>- Stock: <%=producto2.stock%></dd>
									<dd>- Modelo: <%=producto2.modelo%></dd>	
									<dd>- Tiempo de entrega: <%= producto2.tiempo_entrega %></dd>
									<button name="eliminar" type="submit" value="<%=producto2.id%>">Eliminar producto</button>
								</form>	
							</div>	
						<% }) %>
						</div>
					
					
				</fieldset>
			<!--Termina buscador-->
		
			<form method="post" action="/datos/add"><!--Última parte //DATOS DE VENDEDOR Y TIEMPO ENTREGA//-->
				<fieldset>
					<legend>Tercer paso: INGRESA TUS DATOS DE VENDEDOR Y TIEMPO DE ENTREGA</legend>
				
						<input type="text" placeholder="&nbsp;Nombre de vendedor" size="35" name="vendedor">&ensp;
						<input type="text" placeholder="&nbsp;No. Vend." size="7" name="num_vendedor">&ensp;
						<input type="text" placeholder="&nbsp;No. Cot." size="7" name="num_cot">&ensp;
						<input type="text" placeholder="&nbsp;Descuento" size="8" name="descuento">&ensp;
						<input type="text" placeholder="&nbsp;Extensi&oacute;n" size="10" name="extension">&ensp;
						<input type="email" placeholder="&nbsp;E-Mail de vendedor" name="email">&ensp;
						<input type="text" placeholder="Tiempo de entrega" name="tiempo_entrega">
						<br/>
						<input type="submit" value="Ingresar datos">
						<% if(vendedor != null){ %>
							<p>Vendedor: <%=vendedor%>, # vendedor: <%=num_vendedor%>, # cotización: <%=num_cot%>, Descuento: <%=descuento%>, Extension: <%=extension%>, email de vendedor: <%=email_vendedor%>, Tiempo de entrega: <%=tiempo_entrega%></p>
						<% } %>
						
				</fieldset>
			</form><!--Terminan datos de vendedor-->
			
			 <form method="post" action="/download"> <!--Generador de PDF //TODO LO GUARDADO EN EL VECTOR SE IMPRIME EN EL PDF//-->
				<fieldset>
					<legend>&Uacute;ltimo paso: GENERA Y GUARDA TU PDF</legend>
					<p>
						<button type="submit" target="_blank">Crear PDF</button>
					</p>
				</fieldset>
			 </form> 
		</center>
	</body>
</html>

<link href="/stylesheets/3mstyle.css" rel="stylesheet" type="text/css"/>