<html>
    
	<head>
		<title>Cotizador 3M&#174;</title>
		<META http-equiv="Pragma" content="no-cache"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <% include ../partials/header.ejs %>
		<% include ../partials/3m_refs.ejs %>
		
		<style>
			/* Center the loader */
			#loader {
			  position: absolute;
			  left: 50%;
			  top: 50%;
			  z-index: 1;
			  width: 150px;
			  height: 150px;
			  margin: -75px 0 0 -75px;
			  border: 16px solid #f3f3f3;
			  border-radius: 50%;
			  border-top: 16px solid #3498db;
			  width: 120px;
			  height: 120px;
			  -webkit-animation: spin 2s linear infinite;
			  animation: spin 2s linear infinite;
			}

			@-webkit-keyframes spin {
			  0% { -webkit-transform: rotate(0deg); }
			  100% { -webkit-transform: rotate(360deg); }
			}

			@keyframes spin {
			  0% { transform: rotate(0deg); }
			  100% { transform: rotate(360deg); }
			}

			/* Add animation to "page content" */
			.animate-bottom {
			  position: relative;
			  -webkit-animation-name: animatebottom;
			  -webkit-animation-duration: 1s;
			  animation-name: animatebottom;
			  animation-duration: 1s
			}

			@-webkit-keyframes animatebottom {
			  from { bottom:-100px; opacity:0 } 
			  to { bottom:0px; opacity:1 }
			}

			@keyframes animatebottom { 
			  from{ bottom:-100px; opacity:0 } 
			  to{ bottom:0; opacity:1 }
			}

			#myDiv {
			  display: none;
			  text-align: center;
			}
		</style>
        
	</head>
    
	<body class="subfondo2" onload="myFunction()" style="margin:0;">
		
		<div id="loader"></div>
		
		<div style="display:none;" id="myDiv" class="animate-bottom">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="centro">Cotizador AIL</h1>
                </div>
            </div>
        </div>
        
		<div class="container-fluid">
			<div class="row">
				<h3 class="col-lg-6 col-md-6"> Records en la Base de Datos: <%=desplegar%> </h3>
			
				<div class="col-lg-5 col-md-4">
					<h4 style="text-align: right">Tipo de cambio:</h4>
					<form style="text-align: right" id="tipo_cambio" method="post" action="/tipo_cambio/add">
						<input id="tipo_cambio" type="text" placeholder="<%= tipo_cambio %>" size="10" name="tipo_cambio" data-toggle="tooltip" data-placement="top" title="Asegúrate de actualizar el tipo de cambio!">
						<button class="boton3m3" form="tipo_cambio" type="submit">Ingresar</button>
					</form>
				</div>
				
			</div>
		</div>
		 
	<!-- FIN DE EJEMPLO-->			
        <hr>
        	<div id="accordion" role="tablist" aria-multiselectable="false">
                
                <div class="card"> 
                
    <div class="card-header" role="tab" id="headingFour">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">  
            <h5 class="mb-0">
                Ingresa la información del vendedor
            </h5>
        </a>
        </div>
        
        
        <div id="collapseFour" class="collapse <%= ajusteVendedor %>" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block">           
        
		<h3 class="centro">Ingresa la información del vendedor</h3>
		
        <hr>
		<br/>		
				<div class="container">
                <div class="row">
                    <form method="post" action="/datos/add" class="col-lg-12 centro">
                        <div class="col-lg-12 dropdown">
                            
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Vendedores
                              </button>
                            
                                <div class="dropdown-menu col-lg-12 centro" aria-labelledby="dropdownMenuButton">
                                     <% vendedorArray.forEach(function(vendedor, index){ %> 
                                    <button class="dropdown-item" name="index" value="<%=index%>" data-toggle="tooltip" data-placement="top" title="Ingresa tu usuario!"><%=vendedor.nombre%></button>
                                   <% }) %>
                                  </div>
                            
                        </div>
                        </form>
                       	
                </div>
				</div>	
			 
          
		<div class="container">
            <div class="row">
                <div class="col-lg-12 contenedorDatos">
                    <h4>Datos ingresados del vendedor</h4>
                    <% console.log("vendedor: " + vendedor) 
					if (vendedor != null) { %>
                        <table class="table table-striped">
                        <tr>
                            <th>Vendedor</th>
                            <th># vendedor</th>
                            <th>Folio</th>
                            <th>Extension</th>
                            <th>email de vendedor</th>
                            <th>Tiempo de entrega</th>
                        </tr>
                        <tr>
                            <td><%=vendedor%></td>
                            <td><%=num_vendedor%></td>
							<% if (num_cot != 0 ){%>
							<td><%=num_cot%></td>	
							<%}else{ %>
							<td></td>
							<%}%>
                            <td><%=extension%></td>
                            <td><%=email_vendedor%></td>
                            <td><%=tiempo_entrega%></td>
                        </tr>    
                        </table> 
					<br>
					
					<form method="post" action="/folio" class="centro">
						<button class="boton3m3 col-lg-4 col-md-4" type="submit" name="folio" value="<%=num_cot%>">Crear Nuevo Folio</button>
					</form>
					
					
                    <% } %>
                </div>
            </div>
        </div>	
            
        <hr>
          
            </div>
    </div>
                </div>
                
            <div class="clearfix"></div> 
                
                <div class="card">
                    
                <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h5 class="mb-0" >
                            Ingresa los datos del cliente
                        </h5>
                     </a>    
                </div>
                    
            <div id="collapseOne" class="collapse <%=ajusteCliente%>" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <h3 class="centro">Ingresa los datos del cliente</h3>
                            <hr>
                        </div>
                        
                        <div class="col-lg-12">
                            <form method="post" id="form_usuario" action="/contacto/add"><!--primer parte //DATOS DE CLIENTE//-->
                            <input type="text" placeholder="&nbsp;Nombre de contacto" size="35" name="contacto_nombre">&ensp;
                            <input type="text" placeholder="&nbsp;Empresa" size="50" name="contacto_empresa">&ensp;
                            <input type="text" placeholder="&nbsp;Tel&eacute;fono" name="contacto_tel">&ensp;
                            <input type="email" placeholder="&nbsp;E-Mail" name="contacto_mail">
                            </form>    
                        </div>  
                        
                        <div style="margin:5px"></div>
                        <br/>
                        <hr>    
                        
                        <div class="col-lg-12">
                            <Button class="boton3m" form="form_usuario" type="submit">Ingresar datos</Button>
                        </div>           
                       
                    
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 contenedorDatos">
                                    <h4>Datos de cliente ingresados:</h4>
                                    <% if (nombre != null) { %>
                                        <table class="table table-striped">
                                        <thead class="thead-default">
											<tr>
												<th>Cliente</th>
												<th>Empresa</th>
												<th>Teléfono</th>
												<th>Mail</th>
                                        	</tr>
										</thead>
                                        <tr>
                                            <td> <%=nombre%> </td>
                                            <td><%=empresa%></td>
                                            <td><%=telefono%></td>
                                            <td><%=mail%></td>
                                        </tr>    
                                        </table>  
                                    <% } %>
                                </div>
                            </div>
                        </div>
						 
                    </div>
                </div>
		
			<hr>
          
                </div>
            </div>
        </div> 
            
                <div class="clearfix"></div>
                
    <div class="card">
       
        <div class="card-header" role="tab" id="headingTwo">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne"> 
                <h5 class="mb-0">
                    Busca el producto y seleccionalo
                </h5>
            </a>
        </div>
        
        
        <div id="collapseTwo" class="collapse <%= ajuste_busqueda %>" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        
			<!--segunda parte //BUSCADOR-->
				<div class="container">
                    <div class="row">
                        
                        <h3 class="col-lg-12 centro">Busca el producto y seleccionalo</h3>
                        
                        <hr>
						
						<style>
							.input{
								margin: 5px;
							}
						
						</style>
							
						<div class="clearfix"></div>
						
						<div class="container">
							<div class="row">
								
								<form method="post" action="/marca/add" class="col-lg-12 centro">
										<div class="col-lg-12 dropdown" data-toggle="tooltip" data-placement="top" title="Sólo puedes cotizar una marca a la vez!">

										   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Selecciona la marca
										   </button>

											<div class="dropdown-menu col-lg-12 centro" aria-labelledby="dropdownMenuButton">
												<button class="dropdown-item" name="marca" value="3M" >3M</button>
												<button class="dropdown-item" name="marca" value="Sika">Sika</button>
											</div>
											
										</div>
									</form>
							</div>
						</div>
						
						<h3 class="col-lg-12 centro clearfix"><%=marca%></h3>
						
						<% if(marca == "3M"){ %>
						
                        <form method="post" action="/busqueda/add" id="form1">	
							<div class="form-control col-lg-12">
								<input type="text" placeholder="&nbsp;Stock" size="25" name="stock" class="input" data-toggle="tooltip" data-placement="top" title="Escribe un fragmento o el # de stock completo">&ensp;
								<input type="text" placeholder="Modelo" size="25" name="modelo" class="input"  data-toggle="tooltip" data-placement="top" title="Escribe un fragmento o el modelo completo">&ensp;
								<input type="text" placeholder="Palabra Clave" size="50" name="desc" class="input" data-toggle="tooltip" data-placement="top" title="Escríbe una frase o palabra relacionada con el producto">
								<input type="text" placeholder="Color/Grano" size="25" name="color_grano" class="input"  data-toggle="tooltip" data-placement="top" title="Conoces el grano o el color del producto?">
								<input type="text" placeholder="Medida" size="25" name="medida" class="input"  data-toggle="tooltip" data-placement="top" title="Tienes que ser muy exacto al escribir la medida!">
								<input type="text" placeholder="Área" size="25" name="area" class="input"  data-toggle="tooltip" data-placement="top" title="A qué área de la industria pertenece el producto?">
								<input type="text" placeholder="División" size="25" name="division" class="input"  data-toggle="tooltip" data-placement="top" title="A qué división de la industria pertenece el producto?">
								<input type="text" placeholder="Familia" size="25" name="familia" class="input"  data-toggle="tooltip" data-placement="top" title="A qué familia de la industria pertenece el producto?">
							</div>
                            <br/>
                        </form>	

                        <div class="col-lg-12 centro">
							<button class="boton3m centro" type="submit" form="form1" style="text-align:center; margin: 0 auto;">Buscar</button> 
						</div>
						
						<% }else if(marca == "Sika"){ %>
						
							<br/>
							<div class="clearfix"></div>
						
							 <form method="post" action="/busqueda/add" id="form1">	
							<div class="form-control col-lg-12">
								<input type="text" placeholder="Código" size="25" name="stock" class="input" data-toggle="tooltip" data-placement="top" title="Escribe un fragmento o el # de stock completo">&ensp;
								<input type="text" placeholder="Palabra Clave" size="50" name="desc" class="input" data-toggle="tooltip" data-placement="top" title="Escríbe una frase o palabra relacionada con el producto">
								<input type="text" placeholder="Medida" size="25" name="medida" class="input"  data-toggle="tooltip" data-placement="top" title="Tienes que ser muy exacto al escribir la medida!">
							</div>
                            <br/>
                        </form>	
						
						<div class="col-lg-12 centro">
							<button class="boton3m centro" type="submit" form="form1" style="text-align:center; margin: 0 auto;">Buscar</button> 
						</div>
						
						
						<% } %>
						
					</div>
                </div>
        
				
                <div class="container">
                        <div class="row">            
                            <% if(productos.length > 0) { %>


                                        <div class="col-lg-12 contenedorDatos">
                                            <h4>Resultados de Búsqueda:  
												<% if(stock_num != null){ %> Stock "<%=stock_num%>" <% } %> 
												<% if(modelo != null){ %> Modelo "<%= modelo %>" <% } %>
												<% if(desc != null){ %> Palabra clave "<%=desc%>" <% } %>
												<% if(color_grano != null){ %> Color/Grano "<%=color_grano%>" <% } %>
												<% if(medida != null){ %> Medida "<%=medida%>" <% } %>
												<% if(area != null){ %> Área "<%=area%>" <% } %>
												<% if(division != null){ %> División "<%=division%>" <% } %>
												<% if(familia != null){ %> Familia "<%=familia%>" <% } %>
											</h4>

                                            
                                            <% productos.forEach(function(producto){ %>
                                                

											<% if(marca == "Sika"){ %>
											
											<div id="centro">
													<form class="centro" method="post" action="/carrito/add">
														<button class="boton3m2" name="agregar" type="submit" value="<%=producto.codigo%>">
															
															<table class="table table-striped" style="margin:0px;">
																<thead>
																	<tr class="table-active">
																		<th>Producto</th>
																		<th>Código</th>
																		<th>Divisa</th>
																		<th>KG/MTS</th>
																		<th>Descripción</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td><%=producto.nombre%></td>
																		<td><%=producto.codigo%></td>
																		<td><%=producto.divisa%></td>
																		<td><%=producto.kg_mts%></td>
																		<td><%=producto.descripcion%></td>
																	</tr>
																</tbody>
															</table>
														<br/>
														</button>
													</form>	
                                                </div>
															<% } %>
															
															
												<% if(marca == "3M"){ %>
															
												<div id="centro">
													<form class="centro" method="post" action="/carrito/add">
													<button class="boton3m2" name="agregar" type="submit" value="<%=producto.stock%>">
															
															<table class="table table-striped" style="margin:0px;">
																<thead>
																	<tr class="table-active">
																		<th >Producto</th>
																		<th>Stock</th>
																		<th>Modelo</th>
																		<th>Color/Grano</th>
																		<th>Medida</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td><%=producto.nombre%></td>
																		<td><%=producto.stock%></td>
																		<td><%=producto.modelo%></td>
																		<td><%=producto.color_grano%></td>
																		<td><%=producto.presentacion_medida%></td>
																	</tr>
																</tbody>
															</table>
														<br/>
														</button>
													</form>	
                                                </div>
															<% } %>
															
														
												<br/>
                                            <%}) %>
                                            
                                    </div> 
                            <%} else{
                                
                            } %>	
                            
               <div class="clearfix col-lg-12"></div>
                 
				 </div>
                </div>
        
				<hr>
            
            </div>
        </div>
          
            </div>
           
                <div class="clearfix"></div>
                
                <div class="card">
       
        <div class="card-header" role="tab" id="headingThree">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">  
                <h5 class="mb-0">
                    Checa los productos agregados a cotización
                </h5>
            </a>
        </div>
        
        
        <div id="collapseThree" class="collapse <%= ajuste_carrito %>" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        
                <div class=" centro">
                    <h4>Productos agregados a cotización</h4>
                </div>
		
        <div class="container">
            <div class="row">
                
                    <% if(prod_agregados != []){ %>

                    <div class="col-lg-12 contenedorDatos centro">
                    
						<style>/* fix = code from bootstrap 3 */
						tbody.collapse.in {
						  display: table-row-group;
						}
						</style>
                        
                        <% prod_agregados.forEach(function(producto2, index){ %>
                        
						<% if(marca == "3M"){ %>
						
                        <div class="col-lg-12 centro">
							
							<table class="table table-responsive table-hover">
								
								<tbody class="clickable" data-toggle="collapse" data-target="#collapse<%=index%>" aria-expanded="true" aria-controls="collapse<%=index%>1">
									
										<tr> 
											<th>Nombre</th>
											<td><%=producto2.nombre%></td>
											<td>
												<form class="centro" method="post" id="<%=index%>1" action="/cambio_nombre/add">
													<input type="text" placeholder="<%=producto2.nombre%>" size="30" name="nombre">
												</form>
											</td>
											<td><button class="boton3m3" type="submit" form="<%=index%>1" name="index" value="<%=index%>">Cambiar Nombre</button></td>
										</tr>
									
								</tbody>
									
								<tbody id="collapse<%=index%>" class="collapse">
									
									<tr>
										<th>Cantidad</th>
										<td><%= producto2.cantidad %></td>
										<td>
											<form class="centro" method="post" action="/cantidad/add" id="<%= index %>6">
											<input type="text" placeholder="<%= producto2.cantidad %>" size="10" name="cantidad">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%= index %>6" name="index" value="<%=index%>">Cambiar Cantidad</button>
										</td>
									</tr>
									<tr>
										<th>Stock</th>
										<td><%=producto2.stock%></td>
										<td>
											<form class="centro" method="post" id="<%=index%>2" action="/cambio_stock/add">
											<input type="text" placeholder="<%=producto2.stock%>" size="10" name="stock">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>2" name="index" value="<%=index%>">Cambiar Stock</button>
										</td>
									</tr>
									<tr>
										<th>Modelo</th>
										<td><%=producto2.modelo%></td>
										<td>
											<form class="centro" method="post" id="<%=index%>3" action="/cambio_modelo/add">
											<input type="text" placeholder="<%=producto2.modelo%>" size="10" name="modelo">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>3" name="index" value="<%=index%>">Cambiar Modelo</button>
										</td>
									</tr>
									<tr>
										<th>Color/Grano</th>
										<td><%=producto2.color_grano%></td>
										<td>
											<form class="centro" method="post" action="/cambio_color_grano/add" id="<%=index%>7">
											<input type="text" placeholder="<%=producto2.color_grano%>" size="10" name="color_grano">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>7" name="index" value="<%=index%>">Cambiar Color/Grano</button>
										</td>
									</tr>
									<tr>
										<th>Medida</th>
										<td><%= producto2.presentacion_medida%></td>
										<td>
											<form class="centro" method="post" action="/cambio_medida/add" id="<%=index%>9">
											<input type="text" placeholder="<%= producto2.presentacion_medida%>" size="10" name="medida">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>9" name="index" value="<%=index%>">Cambiar Medida</button>
										</td>
									</tr>
									<tr>
										<th>Unidad</th>
										<td><%=producto2.unidad_medida%></td>
										<td>
											<form class="centro" method="post" action="/cambio_unidad/add" id="<%=index%>10">
											<input type="text" placeholder="<%=producto2.unidad_medida%>" size="10" name="unidad">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>10" name="index" value="<%=index%>">Cambiar Unidad</button>
										</td>
									</tr>
									<tr>
										<th>Precio de lista por unidad USD</th>
										<td><%=producto2.precio_lista_unidad_usd%></td>
										<td>
											<form class="centro" method="post" action="/cambio_precio_usd/add" id="<%=index%>8">
											<input type="text" placeholder="<%=producto2.precio_lista_unidad_usd%>" size="10" name="precio">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>8" name="index" value="<%=index%>">Cambiar Precio en USD</button>
										</td>
									</tr>
									<tr>
										<th>Descuento</th>
										<td><%= producto2.descuento %></td>
										<td>
											<form class="centro" method="post" id="<%=index%>5" action="/descuento/add">
											<input type="text" placeholder="<%=producto2.descuento %>" size="10" name="descuento">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>5" name="index" value="<%=index%>" >Cambiar Descuento</button>
										</td>
									</tr>
									<tr>
										<th>Tiempo de entrega</th>
										<td><%= producto2.tiempo_entrega %></td>
										<td>
											<form class="centro" method="post" id="<%=index%>4" action="/cambio_tiempo/add">
											<input type="text" placeholder="<%=producto2.tiempo_entrega%>" size="10" name="tiempo">
											</form>
										</td>
										<td>
                                        <button class="boton3m3" type="submit" form="<%=index%>4" name="index" value="<%=index%>">Cambiar Tiempo de entrega</button>
										</td>
									</tr>
									<tr>
										<th>Fotografía</th>
										<td> 
											<img src="<%=dir[index]%>" style="max-height:50px;" >
										</td>
										<td>
											<form method="post" id="uploadForm<%=index%>" action="/api/photo" enctype="multipart/form-data">   
											<input type="file" name="producto" />  
											</form>	
										</td>
										<td>
                                            <button class="boton3m3" type="submit" form="uploadForm<%=index%>" name="index" value="<%=index%>">Cargar Imagen</button>
										</td>
									</tr>
									<tr>
										<th>Piezas por caja</th>
										<td><%=producto2.piezas_caja %></td>
									</tr>
									<tr>
										<th>Área</th>
										<td><%=producto2.area%></td>
									</tr>
									<tr>
										<th>Familia</th>
										<td><%=producto2.familia%></td>
									</tr>
									<tr>
										<th>Piezas mínimas</th>
										<td><%=producto2.piezas_minimas%></td>
									</tr>
									<tr>
										<th>Precio de distribuidor especial</th>
										<td><%=producto2.precio_distribuidor_especial%></td>
									</tr>
									<tr>
										<th>Precio de distribuidor MXN</th>
										<td><%=producto2.precio_distribuidor_mxn%></td>
									</tr>
									<tr>
										<th>Precio de distribuidor USD</th>
										<td><%=producto2.precio_distribuidor_usd%></td>
									</tr>
									<tr>
										<th>Precio de lista MXN</th>
										<td><%=producto2.precio_lista_unidad_mxn%></td>
									</tr>
									<tr>
										<th>Tipo de servicio</th>
										<td><%= producto2.tipo_servicio %></td>
									</tr>
									<tr>
										<th>UPC</th>
										<td><%=producto2.upc%></td>
									</tr>
										
								</tbody>		
							</table>
					
                        </div>
						 
						<% }else if(marca == "Sika"){ %>
						
							<div class="col-lg-12 centro">
							
							<table class="table table-responsive table-hover">
								
								<tbody >
									
										<tr> 
											<th>Nombre</th>
											<td class="clickable" data-toggle="collapse" data-target="#collapse<%=index%>"><%=producto2.nombre%></td>
											<td>
												<form class="centro" method="post" id="<%=index%>1" action="/cambio_nombre/add">
													<input type="text" placeholder="<%=producto2.nombre%>" size="30" name="nombre">
												</form>
											</td>
											<td><button class="boton3m3" type="submit" form="<%=index%>1" name="index" value="<%=index%>">Cambiar Nombre</button></td>
										</tr>
									
								</tbody>
									
								<tbody id="collapse<%=index%>" class="collapse">
									
									<tr>
										<th>Cantidad</th>
										<td><%= producto2.cantidad %></td>
										<td>
											<form class="centro" method="post" action="/cantidad/add" id="<%= index %>6">
											<input type="text" placeholder="<%= producto2.cantidad %>" size="10" name="cantidad">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%= index %>6" name="index" value="<%=index%>">Cambiar Cantidad</button>
										</td>
									</tr>
									<tr>
										<th>Stock</th>
										<td><%=producto2.codigo%></td>
										<td>
											<form class="centro" method="post" id="<%=index%>2" action="/cambio_stock/add">
											<input type="text" placeholder="<%=producto2.codigo%>" size="10" name="stock">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>2" name="index" value="<%=index%>">Cambiar Código</button>
										</td>
									</tr>
									<tr>
										<th>Medida Kg/Mts</th>
										<td><%=producto2.kg_mts%></td>
										<td>
											<form class="centro" method="post" action="/cambio_color_grano/add" id="<%=index%>7">
											<input type="text" placeholder="<%=producto2.kg_mts%>" size="10" name="color_grano">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>7" name="index" value="<%=index%>">Cambiar Kg/Mts</button>
										</td>
									</tr>
									<tr>
										<th>Medida de Litros</th>
										<td><%= producto2.litros%></td>
										<td>
											<form class="centro" method="post" action="/cambio_medida/add" id="<%=index%>9">
											<input type="text" placeholder="<%= producto2.litros%>" size="10" name="medida">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>9" name="index" value="<%=index%>">Cambiar Medida Litros</button>
										</td>
									</tr>
									<tr>
										<th>Precio de lista por unidad</th>
										<td><%=producto2.precio_lista%></td>
										<td>
											<form class="centro" method="post" action="/cambio_precio_usd/add" id="<%=index%>8">
											<input type="text" placeholder="<%=producto2.precio_lista%>" size="10" name="precio">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>8" name="index" value="<%=index%>">Cambiar Precio en USD</button>
										</td>
									</tr>
									<tr>
										<th>Descuento</th>
										<td><%= producto2.descuento %></td>
										<td>
											<form class="centro" method="post" id="<%=index%>5" action="/descuento/add">
											<input type="text" placeholder="<%=producto2.descuento %>" size="10" name="descuento">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>5" name="index" value="<%=index%>" >Cambiar Descuento</button>
										</td>
									</tr>
									<tr>
										<th>Tiempo de entrega</th>
										<td><%= producto2.tiempo_entrega %></td>
										<td>
											<form class="centro" method="post" id="<%=index%>4" action="/cambio_tiempo/add">
											<input type="text" placeholder="<%=producto2.tiempo_entrega%>" size="10" name="tiempo">
											</form>
										</td>
										<td>
                                        <button class="boton3m3" type="submit" form="<%=index%>4" name="index" value="<%=index%>">Cambiar Tiempo de entrega</button>
										</td>
									</tr>
									<tr>
										<th>Fotografía</th>
										<td> 
											<img src="<%=dir[index]%>" style="max-height:50px;" >
										</td>
										<td>
											<form method="post" id="uploadForm<%=index%>" action="/api/photo" enctype="multipart/form-data">   
											<input type="file" name="producto" />  
											</form>	
										</td>
										<td>
                                            <button class="boton3m3" type="submit" form="uploadForm<%=index%>" name="index" value="<%=index%>">Cargar Imagen</button>
										</td>
									</tr>
									<tr>
										<th>Divisa</th>
										<td><%= producto2.divisa %></td>
									</tr>
									<tr>
										<th>Piezas por caja</th>
										<td><%=producto2.piezas_caja %></td>
									</tr>
										
								</tbody>		
							</table>
					
                        </div>
							
						<% }; %>
                        
                        <hr>
                        <br/>
                        <form method="post" action="/eliminacion/add"> 
                            <button class="boton3m3" name="eliminar" type="submit" value="<%=producto2.id%>">Eliminar producto</button>
                        </form>
                        <hr>    
						
                        <% }); %>
                    
                </div>    
                <% } %>
            </div>     
        </div>
					
        <br/>
          
          <hr>
            </div>
                    </div>
                </div>
        
        <div class="clearfix"></div>   

        <div class="container">
            <div class="row">
                <h3 class="centro col-lg-12">Crea y guarda el PDF</h3>
                <div class="clearfix"></div>
                
                <!--<div class="col-lg-12 centro">
                <form method="post" action="/download">
                    <button class="boton3m" type="submit">Crear PDF</button>
                </form>
                </div>-->
                
                <div class="col-lg-12 centro">
                <form style="text-align: center" id="tiempo_entrega" method="post" action="/tiempo/entrega">
						<input style="text-align: center" id="tiempoentrega" type="text" placeholder="Entrega en <%= tiempo_entrega%> días"  size="25" name="tiempo_entrega" data-toggle="tooltip" data-placement="top" title="Enter para aplicar tiempo de entrega a todos los productos!">
                </form>
                </div>
                
                <br>
                
                <div class="centro col-lg-12">
                <a href="/pdfprevio" class="boton3m" target="_blank" ><h4>Vista previa</h4></a>
                </div>
                
            </div>
        </div>    
    </div>
        
        <!--ALERTS!-->
        
        <div class="alert alert-<%=alerta_tipo%> alert-dismissible fade show" role="alert" id="floating_alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%=content%>
        </div>   
        </div>
		
		<script>
			var myVar;

			function myFunction() {
				myVar = setTimeout(showPage, 300);
			}

			function showPage() {
			  document.getElementById("loader").style.display = "none";
			  document.getElementById("myDiv").style.display = "block";
			}
		</script>
		
	</body>
</html>

<script type="text/javascript">
    
            $(window).scroll(function() {
			  sessionStorage.scrollTop = $(this).scrollTop();
			});

			$(document).ready(function() {
			  if (sessionStorage.scrollTop != "undefined") {
				$(window).scrollTop(sessionStorage.scrollTop);
			  }
			});
    
            $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
            })
    

</script>
