<html>
    
	<head>
		<title>Cotizador 3M&#174;</title>
		<META http-equiv="Pragma" content="no-cache"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <% include ../partials/header.ejs %>
        
	</head>
    
	<body>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="centro">Cotizador AIL</h1>
                </div>
            </div>
        </div>
        
		<div class="container">
			<div class="row">
				<h3 class="col-lg-6- col-md-6"> Productos en la Base de Datos: <%=desplegar%> </h3>
			
				<div class="col-lg-6 col-md-6">
					<h4 style="text-align: right">Tipo de cambio:</h4>
					<form style="text-align: right" id="tipo_cambio" method="post" action="/tipo_cambio/add">
						<input id="timpo_cambio" type="text" placeholder="<%= tipo_cambio %>" size="10" name="tipo_cambio">
						<button class="boton3m3" form="tipo_cambio" type="submit">Ingresar</button>
					</form>
				</div>
			</div>
		</div>
		
				
        <hr>
        			
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <h3 class="centro">Ingresa los datos del cliente</h3>
                            <hr>
                        </div>
                        
                        <div class="col-lg-12">
                            <form method="post" id="form_usuario" action="/contacto/add"><!--primer parte //DATOS DE CLIENTE//-->
                            <input type="text" placeholder="&nbsp;Nombre de contacto" size="35" name="contacto_nombre">&ensp;
                            <input type="text" placeholder="&nbsp;Empresa" size="50" name="contacto_empresa">&ensp;
                            <input type="text" placeholder="&nbsp;Tel&eacute;fono" name="contacto_tel">&ensp;
                            <input type="email" placeholder="&nbsp;E-Mail" name="contacto_mail">
                            </form>    
                        </div>  
                        
                        <div style="margin:5px"></div>
                        <br/>
                        <hr>    
                        
                        <div class="col-lg-12">
                            <Button class="boton3m" form="form_usuario" type="submit">Ingresar datos</Button>
                        </div>           
                    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 contenedorDatos">
                                    <h4>Datos de cliente ingresados:</h4>
                                    <% if (nombre != null) { %>
                                        <table class="table table-striped">
                                        <thead class="thead-default">
											<tr>
												<th>Cliente</th>
												<th>Empresa</th>
												<th>Teléfono</th>
												<th>Mail</th>
                                        	</tr>
										</thead>
                                        <tr>
                                            <td> <%=nombre%> </td>
                                            <td><%=empresa%></td>
                                            <td><%=telefono%></td>
                                            <td><%=mail%></td>
                                        </tr>    
                                        </table>  
                                    <% } %>
                                </div>
                            </div>
                        </div>
						 
                    </div>
                </div>
		
			<hr>
        
			<!--segunda parte //BUSCADOR-->
				<div class="container">
                    <div class="row">
                        
                        <h3 class="centro">Busca el producto y seleccionalo</h3>
                        
                        <hr>

                        <form method="post" action="/busqueda/add" id="form1">	
                            <input type="text" placeholder="&nbsp;Stock" size="25" name="stock">&ensp;
							<input type="text" placeholder="Modelo" size="25" name="modelo">&ensp;
                            <input type="text" placeholder="Palabra Clave" size="50" name="desc">
							<input type="text" placeholder="Color/Grano" size="25" name="color_grano">
							<input type="text" placeholder="Medida" size="25" name="medida">
                            <br/>
                        </form>	

                        <button class="boton3m" type="submit" form="form1">Buscar</button>    
                        </div>
                </div>
        
				
                <div class="container">
                        <row class="row">            
                            <% if(productos.length > 0) { %>


                                        <div class="col-lg-12 contenedorDatos">
                                            <h4>Resultados de Búsqueda:  
												<% if(stock_num != null){ %> Stock: <%=stock_num%>, <% } %> 
												<% if(modelo != null){ %> Modelo: <%= modelo %>, <% } %>
												<% if(desc != null){ %> palabra clave: <%=desc%> <% } %>
											</h4>

                                            
                                            <% productos.forEach(function(producto){ %>
                                                <div id="centro">
													<form class="centro" method="post" action="/carrito/add">
														<button class="boton3m2" name="agregar" type="submit" value="<%=producto.id_db%>">

															<table class="table table-striped" style="margin:0px;">
																<thead>
																	<tr class="table-active">
																		<th >Producto</th>
																		<th>Stock</th>
																		<th>Modelo</th>
																		<th>Color/Grano</th>
																		<th>Medida</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td><%=producto.nombre%></td>
																		<td><%=producto.stock%></td>
																		<td><%=producto.modelo%></td>
																		<td><%=producto.color_grano%></td>
																		<td><%=producto.presentacion_medida%></td>
																	</tr>
																</tbody>
															</table>	

														<br/>
														</button>
													</form>	
                                                </div>
												<br/>
                                            <%}) %>
                                            
                                    </div> 
                            <%} else{
                                
                            } %>	
                            
               <div class="clearfix col-lg-12"></div>
                 
				 </row>
                </div>
        
				<hr>
        
                <div class=" centro">
                    <h4>Productos Agregados a Cotización</h4>
                </div>
        
               
        <div class="container">
            <div class="row">
                
                    <% if(prod_agregados != []){ %>

                    <div class="col-lg-12 contenedorDatos centro">
                    
                        
                        <% prod_agregados.forEach(function(producto2, index){ %>
                        
                        <div class="col-lg-12 centro">
							
							<table class="table table-hover">
								
								<tbody data-toggle="collapse" data-target="#accordion<%=index%>" class="clickable">
									<tr>
										<th>Nombre</th>
										<td><%=producto2.nombre%></td>
										<td>
											<form class="centro" method="post" id="<%=index%>1" action="/cambio_nombre/add">
											<input type="text" placeholder="<%=producto2.nombre%>" size="30" name="nombre">
											</form>
										</td>
										<td><button class="boton3m3" type="submit" form="<%=index%>1" name="index" value="<%=index%>">Cambiar Nombre</button></td>
									</tr>
								</tbody>	
								<tbody id="accordion<%=index%>" class="collapse">
									<tr>
										<th>Cantidad</th>
										<td><%= producto2.cantidad %></td>
										<td>
											<form class="centro" method="post" action="/cantidad/add" id="<%= index %>6">
											<input type="text" placeholder="<%= producto2.cantidad %>" size="10" name="cantidad">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%= index %>6" name="index" value="<%=index%>">Cambiar Cantidad</button>
										</td>
									</tr>
									<tr>
										<th>Stock</th>
										<td><%=producto2.stock%></td>
										<td>
											<form class="centro" method="post" id="<%=index%>2" action="/cambio_stock/add">
											<input type="text" placeholder="<%=producto2.stock%>" size="10" name="stock">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>2" name="index" value="<%=index%>">Cambiar Stock</button>
										</td>
									</tr>
									<tr>
										<th>Modelo</th>
										<td><%=producto2.modelo%></td>
										<td>
											<form class="centro" method="post" id="<%=index%>3" action="/cambio_modelo/add">
											<input type="text" placeholder="<%=producto2.modelo%>" size="10" name="modelo">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>3" name="index" value="<%=index%>">Cambiar Modelo</button>
										</td>
									</tr>
									<tr>
										<th>Color/Grano</th>
										<td><%=producto2.color_grano%></td>
										<td>
											<form class="centro" method="post" action="/cambio_color_grano/add" id="<%=index%>7">
											<input type="text" placeholder="<%=producto2.color_grano%>" size="10" name="color_grano">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>7" name="index" value="<%=index%>">Cambiar Color/Grano</button>
										</td>
									</tr>
									<tr>
										<th>Medida</th>
										<td><%= producto2.presentacion_medida%></td>
										<td>
											<form class="centro" method="post" action="/cambio_medida/add" id="<%=index%>9">
											<input type="text" placeholder="<%= producto2.presentacion_medida%>" size="10" name="medida">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>9" name="index" value="<%=index%>">Cambiar Medida</button>
										</td>
									</tr>
									<tr>
										<th>Unidad</th>
										<td><%=producto2.unidad_medida%></td>
										<td>
											<form class="centro" method="post" action="/cambio_unidad/add" id="<%=index%>10">
											<input type="text" placeholder="<%=producto2.unidad_medida%>" size="10" name="unidad">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>10" name="index" value="<%=index%>">Cambiar Unidad</button>
										</td>
									</tr>
									<tr>
										<th>Precio de lista por unidad USD</th>
										<td><%=producto2.precio_lista_unidad_usd%></td>
										<td>
											<form class="centro" method="post" action="/cambio_precio_usd/add" id="<%=index%>8">
											<input type="text" placeholder="<%=producto2.precio_lista_unidad_usd%>" size="10" name="precio">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>8" name="index" value="<%=index%>">Cambiar Precio en USD</button>
										</td>
									</tr>
                                    <tr>
										<th>Precio de lista MXN</th>
										<td><%=producto2.precio_lista_unidad_mxn%></td>
                                       <td>
                                            <form class="centro" method="post" action="/cambio_precio_mxn/add" id="<%=index%>11">
                                            <input type="text" placeholder="<%=producto2.precio_lista_unidad_mxn%>" size="10" name="precio_mxn">
                                            </form>
                                        </td>
                                        <td>
                                            <button class="boton3m3" type="submit" form="<%=index%>11" name="index" value="<%=index%>">Cambiar Precio en MXN</button>
                                        </td>
                                    </tr>
									<tr>
										<th>Descuento</th>
										<td><%= producto2.descuento %></td>
										<td>
											<form class="centro" method="post" id="<%=index%>5" action="/descuento/add">
											<input type="text" placeholder="<%=producto2.descuento %>" size="10" name="descuento">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>5" name="index" value="<%=index%>" >Cambiar Descuento</button>
										</td>
									</tr>
									<tr>
										<th>Tiempo de entrega</th>
										<td><%= producto2.tiempo_entrega %></td>
										<td>
											<form class="centro" method="post" id="<%=index%>4" action="/cambio_tiempo/add">
											<input type="text" placeholder="<%=producto2.tiempo_entrega%>" size="10" name="tiempo">
											</form>
										</td>
										<td>
											<button class="boton3m3" type="submit" form="<%=index%>4" name="index" value="<%=index%>">Cambiar Tiempo de entrega</button>
										</td>
									</tr>
									<tr>
										<th>Piezas por caja</th>
										<td><%=producto2.piezas_caja %></td>
									</tr>
									<tr>
										<th>Área</th>
										<td><%=producto2.area%></td>
									</tr>
									<tr>
										<th>Familia</th>
										<td><%=producto2.familia%></td>
									</tr>
									<tr>
										<th>Piezas mínimas</th>
										<td><%=producto2.piezas_minimas%></td>
									</tr>
									<tr>
										<th>Precio de distribuidor especial</th>
										<td><%=producto2.precio_distribuidor_especial%></td>
									</tr>
									<tr>
										<th>Precio de distribuidor MXN</th>
										<td><%=producto2.precio_distribuidor_mxn%></td>
									</tr>
									<tr>
										<th>Precio de distribuidor USD</th>
										<td><%=producto2.precio_distribuidor_usd%></td>
									</tr>
									<tr>
										<th>Tipo de servicio</th>
										<td><%= producto2.tipo_servicio %></td>
									</tr>
									<tr>
										<th>UPC</th>
										<td><%=producto2.upc%></td>
									</tr>
								</tbody>
							</table>
					
                        </div>
                        
                        <hr>
                        <br/>
                        <form method="post" action="/eliminacion/add"> 
                            <button class="boton3m3" name="eliminar" type="submit" value="<%=producto2.id%>">Eliminar producto</button>
                        </form>
                        <hr>                
                        <% }); %>
                    
                </div>    
                <% } %>
            </div>     
        </div>
					
        <br/>
        <hr>
        <div class="clearfix"></div>
        
		<div class="container">
            <div class="row">
            
            <h3 class="centro">Ingresa la información del vendedor</h3>
                
        <hr>
				
        <form method="post" action="/datos/add">
            <input type="text" placeholder="&nbsp;Nombre de vendedor" size="35" name="vendedor">&ensp;
            <input type="text" placeholder="&nbsp;No. Vend." size="7" name="num_vendedor">&ensp;
            <input type="text" placeholder="&nbsp;No. Cot." size="7" name="num_cot">&ensp;
            <!-- <input type="text" placeholder="&nbsp;Descuento" size="8" name="descuento">&ensp; -->
            <input type="text" placeholder="&nbsp;Extensi&oacute;n" size="10" name="extension">&ensp;
            <input type="email" placeholder="&nbsp;E-Mail de vendedor" name="email">&ensp;
            <input type="text" placeholder="Tiempo de entrega" name="tiempo_entrega">
            <div class="clearfix"></div>
            <input class="boton3m" type="submit" value="Ingresar datos">
        </form>  
            
        </div>		  

        <hr>
    
		<div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 contenedorDatos">
                    <h4>Datos ingresados del vendedor</h4>
                    <% if (vendedor != null) { %>
                        <table class="table table-striped">
                        <tr>
                            <th>Vendedor</th>
                            <th># vendedor</th>
                            <th> # cotización</th>
                            <th>Extension</th>
                            <th>email de vendedor</th>
                            <th>Tiempo de entrega</th>
                        </tr>
                        <tr>
                            <td><%=vendedor%></td>
                            <td><%=num_vendedor%></td>
                            <td><%=num_cot%></td>
                            <td><%=extension%></td>
                            <td><%=email_vendedor%></td>
                            <td><%=tiempo_entrega%></td>
                        </tr>    
                        </table>  
                    <% } %>
                </div>
            </div>
        </div>	
            
        <hr>    

        <div class="container">
            <div class="row">
                <h3 class="centro">&Uacute;ltimo paso: GENERA Y GUARDA TU PDF</h3>
                
                <hr>
                
                <div class="col-lg-12 centro">
                <form method="post" action="/download">
                    <button class="boton3m" type="submit">Crear PDF</button>
                </form>
                </div>
                
                <div class="centro">
                <a href="/pdfprevio" target="_blank"><h4>Vista previa</h4></a>
                </div>
                
            </div>
        </div>    
        	
	</body>
</html>

 <% include ../partials/3m_refs.ejs %>