<!DOCTYPE html>
<html>
<head>
	<META http-equiv="Pragma" content="no-cache"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<title>AIL COTIZADOR</title>
	
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="/js/bootstrap.js" rel="javascript" type="text/js"/>
	<link href="/stylesheets/3m.css" rel="stylesheet" type="text/css"/>
	
</head>
	
<body>
    
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-default">
					<tr>
						<th colspan="4" class="celda-centro" >Datos del Cliente</th>
					</tr>
                </thead>
				<tbody>
					<tr class="">
						<th class="">Nombre</th>
						<th class="">Empresa</th>
						<th class="">Teléfono</th>
						<th class="">Mail</th>
					</tr>
					<tr class="">
						<td class=""><%=nombre%></td>
						<td class=""><%=empresa%></td>
						<td class=""><%=telefono%></td>
						<td class=""><%=mail%> </td>
					</tr>
				</tbody>
			</table>
			<table class="table table-striped">
				
				<thead class="thead-default">
					<tr class="">
						<th colspan="7" class="celda-centro" >Productos Agregados a Cotización</th>
					</tr>
				</thead>
				<tbody>
					<tr class="">
						<th>
							Cantidad
						</th>
						<th class="">
							Producto
						</th>
						<th class="">
							# Stock
						</th>
						<th class="">
							# Modelo
						</th>
						<th>
							Medida
						</th>
						<th>
							Precio Lista USD
						</th>
						<th>
							Precio Lista MXN
						</th>
						<th>
							Descuento
						</th>
						<th class="">
							Tiempo de entrega
						</th>
					</tr>
					<% prod_agregados.forEach(function(producto2){ %>
						<tr class="">
							<td>
							<%= cantidad%>
							</td>
							<td class="">
								<%=producto2.nombre%>
							</td>
							<td class="">
								<%=producto2.stock%>
							</td>
							<td class="">
								<%=producto2.modelo%>
							</td>
							<td>
								<%= producto2.unidad_medida %>
							</td>
							<td>
								<%= producto2.precio_lista_unidad_usd %>
							</td>
							<td>
								<%= producto2.precio_lista_unidad_mxn %>
							</td>
							<td>
								<%= producto2.descuento %> %
							</td>
							<td class="">
								<%= producto2.tiempo_entrega %>
							</td>
						</tr>		
					<% }) %>
				</tbody>
			</table>
			
				<br/>
			
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th colspan="7" class="celda-centro">
								Datos del vendedor
							</th>
						</tr>
					</thead>	
						<tr class="">
							<th class="">
								Vendedor
							</th>
							<th class="">
								# vendedor
							</th>
							<th class="">
								# cotización
							</th>
							<th class="">
								Descuento
							</th>
							<th class="">
								Extension
							</th>
							<th class="">
								Email de vendedor
							</th>
							<th class="">
								 Tiempo de entrega
							</th>
						</tr>
				<tbody>	
					<tr class="">
						<td class="">
							<%=vendedor%>
						</td>
						<td class="">
							<%=num_vendedor%>	
						</td>
						<td class="">
							<%=num_cot%>
						</td>
						<td class="">
						
						</td>
						<td class="">
							<%=extension%>	
						</td>
						<td class="">
							<%=email_vendedor%>
						</td>
						<td class="">
							<%=tiempo_entrega%>
						</td>
					</tr>
				</tbody>
            </table>
        </div> 
    </div>

</body>
</html>

<link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="js/bootstrap.js" rel="javascript" type="text/js"/>
<link href="stylesheets/3m.css" rel="stylesheet" type="text/css"/>