<!DOCTYPE html>
<html>
<head>
	<title>Cotizador 3M&#174;</title>
	<META http-equiv="Pragma" content="no-cache"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td {
		padding: 15px;
	}
	.celda{
		text-align: center;		
	}	
	</style>
	
</head>
	
<body>
    
    <div class="container">
        <div class="row">
            <table class="tabla">
                <tr class="columna">
                    <th colspan="4">Datos del Cliente</th>
                </tr>
                <tr class="columna">
                    <th class="celda">Nombre</th>
                    <th class="celda">Empresa</th>
                    <th class="celda">Teléfono</th>
                    <th class="celda">Mail</th>
                </tr>
                <tr class="columna">
                    <th class="celda"><%=nombre%></th>
                    <th class="celda"><%=empresa%></th>
                    <th class="celda"><%=telefono%></th>
                    <th class="celda"><%=mail%> </th>
                </tr> 
            </table>
        </div> 
    </div>
	
	
	<br/>
	
	<div id="cotiza">
	<p>Productos Agregados a Cotización</p>

	<% prod_agregados.forEach(function(producto2){ %>
	<br/>
		<div class="caja">
			<form method="post" action="/eliminacion/add">
				<dt><%=producto2.nombre%></dt>
				<dd>- Stock: <%=producto2.stock%></dd>
				<dd>- Modelo: <%=producto2.modelo%></dd>	
				<dd>- Tiempo de entrega: <%= producto2.tiempo_entrega %></dd>
			</form>	
		</div>	
	<% }) %>
	</div>
	
	<br/>
	
	<p>Vendedor: <%=vendedor%>, # vendedor: <%=num_vendedor%>, # cotización: <%=num_cot%>, Descuento: <%=descuento%>, Extension: <%=extension%>, email de vendedor: <%=email_vendedor%>, Tiempo de entrega: <%=tiempo_entrega%></p>

</body>
</html>

<link href="/stylesheets/3mstyle.css" rel="stylesheet" type="text/css"/>
<link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>